{% include 'header/header.html' %}
<body class="sb-nav-fixed">
    {% include 'header/top_bar.html' %}
        <div id="layoutSidenav_content" class="pt-5">
        <main>
            <div class="container px-4">
                <h3 class="mt-4">Shop</h3>
                <ol class="breadcrumb mb-4 px-4 py-2">
                    <li class="breadcrumb-item active">Shop</li>
                    <li class="breadcrumb-item active">Generate Bill</li>
                </ol>

            
            </div>
        </main>
        </div>
</body>
